<header id="banner" role="banner" class="screen-only"></header>

<div id="content">
<main>
<.flash_group flash={@flash} />

<%= @inner_content %>
</main>
<aside id="about">
</aside>
</div>

<footer id="site-credits" class="screen-only"></footer>
