<article>
  <%= if @info do %>
    <header>
      <h1 class="title"><%= @info.title %></h1>
      <h2 :if={@info.subtitle} class="subtitle"><%= @info.subtitle %></h2>
    </header>
    <hr />
  <% end %>
  <%= @html |> raw() %>
</article>
<%!-- <div class="debug-grid"></div> --%>
