<ol :if={@toc != []}>
  <li :for={%Wyz.Markdown.Toc{node: {_, _, inner, _}, ident: ident, children: children} <- @toc}>
    <.link href={"#" <> ident}><%= inner |> Earmark.Transform.transform(compact_output: true) |> Phoenix.HTML.raw() %></.link>
    <.toc :if={children != []} toc={children} />
  </li>
</ol>
